[user]
	name = Steven Weaver
	email = sweaver@temple.edu
	signingkey = D68D0F1A

[alias]
  co = checkout
  br = branch
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  st = status -uno
  stsu = status
  d = difftool

[diff]
	tool = vimdiff

[difftool]
	prompt = false

[github]
    name = Steven Weaver
    email = sweaver@temple.edu
[core]
	editor = /usr/bin/vim
	autocrlf = false
[http]
	sslVerify = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
