[user]
	name = Steven Weaver
	email = weaverst@gmail.com

[alias]
  co = checkout
  br = branch
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  st = status -uno
  stsu = status
  d = difftool

[diff]
	tool = vimdiff
[difftool]
	prompt = false
