[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen/
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/stevenweaver/nerdcommenter
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/md-vim"]
	path = .vim/bundle/md-vim
	url = git://github.com/hughbien/md-vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/stevenweaver/oh-my-zsh.git
[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
